
article.post {
	margin-bottom: 2em;

	footer {
		ul, li {
			display: inline;
			margin: 0;
			padding: 0;
		}
		li:before {
			content: ", ";
		}
		li:first-child:before {
			display: none;
		}
	}
}