			<hr>
			<footer class="row">
				<div class="span8">
					<p>
						Copyright &copy; 2012 &mdash; Daniel Friesen |
						<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a> Creative Commons Attribution 3.0 Unported.
					</p>
				</div>
				<div class="span4" style="text-align: right;">
					<p><a href="https://github.com/gareth-review/gareth-review.github.com"><img alt="" src="/css/blacktocat.svg" width="18"> View site on GitHub</a></p>
				</div>
			</footer>
		</div>
		<script src="/js/jquery-1.7.2.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		<script src="/javascript-load-image/load-image.min.js"></script>
		<script src="/bootstrap-image-gallery/js/bootstrap-image-gallery.min.js"></script>
	</body>
</html>