<article class="clearfix post">
	<header>
	{% if single %}
		<h1>{{ post.title }}</h1>
	{% else %}
		<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
	{% endif %}
		<time datetime="{{ post.date|date:"%Y-%m-%d" }}">{{ post.date|date:"%A %B %d, %Y" }}</time>
	</header>
	<div class="clearfix">
		{% if single %}{{ content }}{% else %}{{ post.content }}{% endif %}
	</div>
	<footer>
		Categories: <ul>
		{% for category in post.categories %}
			<li><a href="/blog/category/{{ category| }}.html">{{ category }}</a></li>
		{% endfor %}
		</ul>
	</footer>
</article>